.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  column-gap: 195px;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.header-container:hover {
  background-color: lightgray;
}
.burger-bar {
  width: 32px;
  height: 40px;
  position: relative;
  margin-top: 35px;

  display: none;
}
.line {
  width: 60%;
  height: 3px;
  background-color: rgba(255, 84, 3, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.line-3 {
  top: 80%;
}
.line1 {
  top: 30%;
}
.line2 {
  top: 10%;
}
.burger-bar:hover {
  background-color: lightblue;
}
.logo1 {
  max-width: 182px;
  width: 100%;
  height: 51px;
  margin-left: 111px;
  margin-top: 24.5px;
}
.header-navigation {
  max-width: 530px;
  width: 100%;
  margin-top: 29px;
}
.nav-li {
  color: rgba(105, 105, 105, 1);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 51px;
  width: 100%;
}
.navigation-parent1 {
  column-gap: 50px;
}
.button1 {
  margin-top: 26px;
}

.book-now {
  background-color: rgba(255, 84, 3, 1);
  width: 188px;
  height: 48px;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.book-now:hover {
  background-color: orangered;
}
.section-1 {
  background-image: url(../images/banner_bg\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1512px;
  width: 100%;
  height: 722px;

  margin: 0 auto;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.travel-buddy {
  font-size: 96px;
  max-width: 687;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 7%;
  margin-top: 12%;
  position: absolute;
}
.your-journey {
  font-size: 20px;
  max-width: 581px;
  width: 100%;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  margin-top: 20%;
  margin-left: 30%;
}
.discover-now {
  background-color: rgba(255, 84, 3, 1);
  width: 250px;
  height: 66px;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  margin-top: 50%;
}
.discover-now:hover {
  background-color: orangered;
}
.search-dv {
  max-width: 1138px;
  width: 100%;
  height: 192px;
  position: absolute;
  margin-top: 44%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 1);
}
.search-dv:hover {
  background-color: lightgray;
}
.title-dv {
  width: 308px;
  height: auto;
  justify-content: space-between;
  font-size: 18px;
  color: rgba(81, 114, 142, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 31px;
}
.hotel-dv,
.ticket-dv,
.places-dv {
  max-width: 85px;
  width: 100%;
  height: 36px;
}

.city {
  color: rgba(45, 147, 234, 1);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.place-dv {
  width: 197px;
  height: 55px;
  background-color: brown;
}

.choose-dv {
  max-width: 1090px;
  width: 100%;
  height: auto;

  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  margin-left: 24px;
}

.check-in {
  background-color: aquamarine;
  max-width: 197px;
  height: 55px;
}

.date-max,
.date-min {
  color: rgba(45, 147, 234, 1);
  font-size: 16px;
  font-size: 16px;
  width: 197px;
  height: 55px;
}
.number {
  width: 197px;
  height: 55px;
}
.button3 {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: rgba(255, 84, 3, 1);
  width: 198px;
  height: 52px;
}
.button3:hover {
  background-color: orangered;
}

.section3 {
  background-color: rgba(243, 243, 243, 1);
  max-width: 1512px;
  height: 1500px;
  margin: 0 auto;
  flex-direction: column;
}
.section3:hover {
  background-color: lightgray;
}
a:hover {
  background-color: lightgrey;
}

.select-element {
  width: 197px;
  height: 55px;
  color: rgba(45, 147, 234, 1);
}
.top-places-dv {
  max-width: 348px;
  width: 100%;
  height: 86px;
  flex-direction: column;
  margin-bottom: 50px;
}
.top-places {
  font-size: 36px;
  letter-spacing: 5%;
  color: rgba(4, 21, 98, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.best-place {
  font-size: 18px;
  letter-spacing: 5%;
  color: rgba(98, 98, 98, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
.images-dv {
  max-width: 1312px;
  width: 100%;
  height: auto;
}
.discover-more {
  margin-top: 17%;
  background-color: rgba(255, 84, 3, 1);
  max-width: 250px;
  width: 100%;
  height: 66px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.button4 {
  max-width: 250px;
  width: 100%;
}

.section4 {
  background-image: url(../images/background-image2.png);
  max-width: 1512px;
  width: 100%;
  height: 879px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}
.upcoming-event {
  max-width: 641px;
  width: 100%;
  height: 616px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  margin-top: 8%;
  margin-left: 45%;
}
.upcoming-event:hover {
  background-color: lightgray;
}
.bali-dv {
  max-width: 262px;
  height: auto;
  margin-top: 7%;
  margin-left: 5%;
}
.upcoming-event-text {
  font-size: 18px;
  color: rgba(255, 84, 3, 1);
  letter-spacing: 2%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bali-indonesia {
  color: rgba(4, 21, 98, 1);
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 15px;
}
.details-text {
  max-width: 541px;
  width: 100%;
  height: 396px;

  margin-left: 5%;
  margin-top: 31.5px;
}
.waters-dv {
  max-width: 541px;
  width: 100%;
  height: 93px;
  font-size: 18px;
  color: rgba(98, 98, 98, 1);

  letter-spacing: 2%;
}
.start-info {
  font-size: 18px;
  letter-spacing: 2%;
  color: rgba(96, 96, 96, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 31.5px;
}
.cost,
.organizer {
  margin-top: 20px;
}
.rating-dv {
  display: flex;
  margin-top: 22px;

  max-width: 221px;
  height: 35px;
  align-items: center;
}
.rating {
  margin-right: 9px;
}
.stars-div {
  display: flex;
  column-gap: 5px;
}
.stars {
  width: 25px;
  height: 35px;
}
.plan-details {
  background-color: rgba(255, 84, 3, 1);
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  max-width: 198px;
  width: 100%;
  height: 52px;
  margin-top: 31.5px;
}
.plan-details:hover {
  background-color: orangered;
}

.previous {
  background-color: rgba(225, 225, 225, 0.5);
  color: rgba(255, 84, 3, 1);
  width: 86px;
  height: 86px;
  font-size: 80px;
  padding: 0 30px;
}
.previous-dv {
  position: absolute;
  margin-top: 25%;
  margin-left: 6%;
}
.next {
  background-color: rgba(225, 225, 225, 0.5);
  color: rgba(255, 84, 3, 1);
  width: 86px;
  height: 86px;
  font-size: 80px;
  padding: 0 30px;
}
.next-dv {
  position: absolute;
  margin-top: 25%;
  margin-left: 90%;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0 30px;
}
.round {
  border-radius: 50%;
}
.top-hotels-restourants {
  max-width: 1512px;
  width: 100%;
  height: 900px;
  background-color: rgba(243, 243, 243, 1);
  margin: 0 auto;

  position: relative;
}
.top-hotels-restourants:hover {
  background-color: lightgray;
}
.top-title {
  max-width: 1312px;
  width: 100%;
  height: 710px;
  margin-top: 124px;
  position: absolute;
  margin-left: 7%;
}
.top {
  font-size: 36px;
  color: rgba(4, 21, 98, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 35%;
  max-width: 436px;
  width: 100%;
}

.best {
  font-size: 18px;
  color: rgba(98, 98, 98, 1);
  margin-top: 20px;
  margin-left: 38%;
  max-width: 382px;
  width: 100%;
}
.images-div2 {
  max-width: 1312px;
  width: 100%;
  height: 549px;
  position: absolute;
  margin-left: 0%;
  margin-top: 6.7%;
  display: flex;
  justify-content: space-between;
}
.stars-dv2 {
  display: flex;
  max-width: 145px;
  width: 100%;
  height: 35px;
  justify-content: space-between;
}
.star {
  width: 25px;
  height: 35px;
}
.review {
  display: flex;
  width: 265px;
  height: 35px;
  justify-content: space-between;
}
.review-2 {
  vertical-align: middle;
  width: 115px;
  height: 31px;
  color: rgba(98, 98, 98, 1);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2%;
  line-height: 170%;
  margin-top: 3.5px;
}
.hotel1 {
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 5%;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 25px;
}
.price {
  color: lightcoral;
  position: absolute;
  margin-top: 5.5%;
}
.jakarta {
  font-size: 18px;
  color: rgba(98, 98, 98, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  width: 160px;
  height: 31px;
  position: absolute;
  margin-top: 3%;
}
.span1 {
  color: rgba(0, 0, 0, 1);
}
.section5 {
  max-width: 1512px;
  width: 100%;
  height: 679px;
  background-color: rgba(4, 21, 98, 1);
  margin: 0 auto;
  position: relative;
}
.section5:hover {
  background-color: darkblue;
}
.coments-dv {
  max-width: 1312px;
  width: 100px;
  height: 479px;
}

.previous-2 {
  background-color: rgba(45, 147, 234, 1);
  color: rgba(255, 255, 255, 1);
  width: 35px;
  height: 59px;
  font-size: 50px;
  padding: 0 30px;
}
.previous-dv-2 {
  position: absolute;
  margin-left: 87%;
}
.next-2 {
  background-color: rgba(45, 147, 234, 1);
  color: rgba(255, 255, 255, 1);
  width: 35px;
  height: 59px;
  font-size: 50px;
  padding: 0 30px;
}
.next-dv-2 {
  position: absolute;
  margin-left: 94%;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0 30px;
}
.comments-dv {
  max-width: 1312px;
  width: 100%;
  height: 479px;
  margin-left: 4%;
  margin-top: 4%;
  position: absolute;
}
.what-they-said {
  max-width: 274px;
  width: 100%;
  height: 44px;
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 2%;
}

.title-dv {
  display: flex;
  margin-left: 4.5%;
}
.three-boxes {
  max-width: 1312px;
  width: 100%;
  height: 339px;
  background-color: rgba(48, 69, 165, 0.6);
  margin-top: 6%;
  margin-left: 3.5%;
  position: absolute;
}
.stars-dv3 {
  display: flex;
  justify-content: space-between;
  max-width: 145px;
  width: 100%;
  height: 35px;
}
.star3 {
  width: 25px;
  height: 35px;
}
.comment-text {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 170%;
  max-width: 345px;
  width: 100%;
  height: 155px;
  margin-top: 3%;
}
.names {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 170%;
  margin-top: 3%;
}
.comment-box {
  max-width: 404px;
  width: 100%;
  height: 339px;
}
.section6 {
  max-width: 1512px;
  width: 100%;
  height: 700px;
  background-color: rgba(243, 243, 243, 1);
  margin: 0 auto;
}
.section6:hover {
  background-color: lightgray;
}
.offer-div {
  max-width: 477px;
  width: 100%;
  height: 86px;
  flex-direction: column;
  margin: 0 auto;
}
.we-offered {
  color: rgba(4, 21, 98, 1);
  font-size: 36px;
  letter-spacing: 5%;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 160px;
}
.best-service {
  color: rgba(98, 98, 98, 1);
  font-size: 18px;
  letter-spacing: 5%;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
.services {
  max-width: 1312px;
  height: 448px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.transportation {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  letter-spacing: 5%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-top: 40px;
}
.cost-transportation {
  color: rgba(98, 98, 98, 1);
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 170%;
  margin-top: 10px;
}
.footer {
  max-width: 1512px;
  width: 100%;
  height: 519px;
  background-color: rgba(25, 34, 77, 1);
  margin: 0 auto;
}
.footer-inside {
  max-width: 1312px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.discover-destination {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  letter-spacing: 5%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 30px;
}
.listing {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  letter-spacing: 5%;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.listing-dv {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.contact-us2 {
  color: rgba(255, 255, 255, 1);
  letter-spacing: 5%;
  line-height: 100%;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
  margin-left: 28px;
}
.tel,
.mail,
.adress,
.social-media {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 18px;
}
.tel {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-logo {
  max-width: 262px;
  width: 100%;
  height: 225px;
}
.social-media {
  color: rgba(255, 84, 3, 1);
  margin-top: 23px;
  margin-left: 30px;
}
.fa-instagram,
.fa-square-facebook,
.fa-square-twitter {
  color: #ffff;
  font-size: 40px;
}
.soc-media-dv {
  max-width: 150px;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 30px;
}
.copy {
  background-color: rgba(0, 11, 62, 1);
  max-width: 1512px;
  width: 100%;
  height: 65px;
  position: absolute;
  margin-top: 500px;
}
.copyright {
  color: rgba(196, 196, 196, 1);
  font-size: 16px;
  letter-spacing: 5%;
  text-align: center;
  line-height: 100%;
  padding: 23px 0;
}
@media (max-width: 320px) {
  .burger-bar {
    display: block;
    margin-right: 200px;
  }
  .header-container {
    width: 100%;
  }
  .header-navigation {
    display: none;
  }
  .button1 {
    display: none;
  }
}
